# Frontend
NEXT_PUBLIC_API_URL=http://localhost:4000

# Backend
PORT=4000

# Local PostgreSQL example
# DATABASE_URL=postgresql://postgres:password@localhost:5432/roomlog

# AWS RDS PostgreSQL example
# DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@roomlog-db.xxxxxx.ap-northeast-2.rds.amazonaws.com:5432/postgres

# AWS S3 later
AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=roomlog-files
